<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.engine.emitters">
      <emitter
            class="com.trix.web.birt.emitter.POJOEmitter"
            format="POJO"
            id="com.trix.web.birt.emitter.POJOEmitter"
            mimeType="application/pojo">
      </emitter>
   </extension>

</plugin>
